{% extends 'dashboard/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %} <br /><br /><br />
<div class="container1">
  <form method="POST">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
    </fieldset>
    <div class="form-group">
      {% csrf_token %} {{ form|crispy }}
      <small class="float-right text-primary font-weight-bold text-bold py-3 showPasswordToggle">SHOW PASSWORD</small>
      <button href="" class="btn btn-outline-info" type="submit">Sign In</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted"
      >Need an Account?
      <a class="ml-2 text-primary font-weight-bold text-bold" href="{% url 'register' %}">CREATE AN ACCOUNT</a>
    </small>
  </div>
  <br /><br />
</div>
<script>
  const showPasswordToggle = document.querySelector('.showPasswordToggle')

  const handleToggleInput = (e) => {
    if (showPasswordToggle.textContent === 'SHOW PASSWORD') {
      showPasswordToggle.textContent = 'HIDE PASSWORD'
      id_password.setAttribute('type', 'text')
    } else {
      showPasswordToggle.textContent = 'SHOW PASSWORD'
      id_password.setAttribute('type', 'password')
    }
  }

  showPasswordToggle.addEventListener('click', handleToggleInput)
</script>

{% endblock content %}
