{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<section class="container text-center">
  <h3>Welcome</h3>

  <hr />
  <br />
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-4">
      <a href="{% url "notes" %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/code.jpg' %}" alt="Notes image" />
          <div class="card-body">
            <h5 class="card-title">Snippets</h5>
            Create Code Snippets to refer them later.
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-4">
      <a href="{% url "home-work" %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/smt.jpg' %}" alt="Notes image" />
          <div class="card-body">
            <h5 class="card-title">Assembly</h5>
            Add Assembly and assign their deadlines. 
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-4">
      <a href="{% url "youtube" %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/utube.jpg' %}" alt="Notes image" />
          <div class="card-body">
            <h5 class="card-title">Youtube</h5>
            Search Youtube & select desired video 
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-4">
      <a href="{% url "todo" %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todoo.jpg' %}" alt="Notes image" />
          <div class="card-body">
            <h5 class="card-title">To Do</h5>
            Add/Delete your to-do lists for a day.
          </div>
        </div>
      </a>
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-4">
      <a href="{% url "books" %}">
        <div class="card mt-20">
          <img class="card-img-top" src="{% static 'images/book.jpg' %}" alt="Notes image" />
          <div class="card-body">
            <h5 class="card-title">Books</h5>
            Browse books from a list book menu
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-4">
      <a href="{% url "dictionary" %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/dic.jpg' %}" alt="Notes image" />
          <div class="card-body">
            <h5 class="card-title">Dictionary</h5>
           Enter the word,meaning will be displayed.
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-4">
      <a href="{% url "wiki" %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/wiki.jpg' %}" alt="Notes image" />
          <div class="card-body">
            <h5 class="card-title">WikiPedia</h5>
            Search wikipedia to get fast results
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-4">
      <a href="{% url "conversion" %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/conversion.jpg' %}" alt="Notes image" />
          <div class="card-body">
            <h5 class="card-title">Conversion</h5>
            Check out the conversion table.
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
