{% extends 'dashboard/base.html' %} {% load static %}{% load crispy_forms_tags %} {% block content %}
<div class="container">
  <div  class="search-containerr">
    <form class="search-form action="{% url 'notes' %}" method="GET">
      <input class="searchh" id="searchleft" type="text" name="q" list="notes" placeholder="Search" />
      <label class="buttonn searchbuttonn searchbuttonnF" for="searchleft"><span class="mglass">&#9906;</span></label>
    </form>
  </div>
  <div>
    <datalist id="notes">
      {% for note in notes %}
      <option value="{{note.language}}"></option>
      {% endfor %}
    </datalist>

    <a href="{% url 'favs-notes' %}"
      ><button type="button" class="btn btn-info" style="border-radius: 20px"> {{favNotes_count}} 
        <i class="fa fa-heart fa-0x" style="float: center; margin-top: 3px; margin-right: 10px; color: DarkRed"></i> Codes
      </button>
    </a>

    <a href="{% url 'create-note' %}"
      ><button class="myPlus"><i class="fa fa-plus"></i></button
    ></a>
     {% if not Q %} 
    <h3 class="codeCount" style="text-align: center; color: ashwhite; margin-top: 10px; margin-bottom: 5px"> {{notes_count}} Saved Snippets in Homes</h3>
    {% else %}
    <h3 class="codeCount" style="text-align: center; color: ashwhite; margin-top: 10px; margin-bottom: 5px">Your Search * {{Q}} * <br> Found {{notes_count}} Snippets</h3>
 {% endif %}
    <div class="row">
      {% for note in notes %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <a href="{% url 'notes_detail' note.id %}">
          <div class="card" style="height: 192px">
            <div class="card-header" style="letter-spacing: 0.05em; padding: 0.5rem; font-weight: bold; text-align: center; font-size: 11px">
             {% if note.fav %} <i class="fa fa-heart fa-0x" style="float: right; mb-0; mt-0;  color: DarkRed"></i> {% endif %}
              {{note.language|striptags|upper|truncatechars:22}} 
            </div>
            <div class="card-body pt-2 pb-2" style="font-size: 11px; padding: 0.5rem; text-transform: capitalize">{{note.noted|striptags }}</div>
            <div class="card-footer mt-auto pt-2 pb-2" style="padding: 1rem">
              <a href="{% url 'update-note' note.pk %}"> <i class="fa fa-edit fa-1x" style="font-size: 18px; float: left; color: DarkGreen"></i></a>
              <a href="{% url 'delete-note' note.pk %}"> <i class="fa fa-trash fa-1x" style="font-size: 18px; float: right; color: DarkRed"></i></a>
              <a class="font-weight-bold" style="font-size: 8px; float: right; padding-right: 60px; color: black">{{ note.updated_at|date:"F d, Y" }}</a>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
      <br /><br />
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      {% if notes.has_previous %}
      <a class="btn btn-outline-info mb-5" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-5" href="?page={{ notes.previous_page_number }}">Previous</a>
      {% endif %} {% for num in notes.paginator.page_range %} {% if notes.number == num %}
      <a class="btn btn-outline-info mb-5 active" href="?page={{ num }}">{{ num }}</a>
      {% elif num > notes.number|add:'-3' and num < notes.number|add:'3' %}
      <a class="btn btn-outline-info mb-5" href="?page={{ num }}">{{ num }}</a>
      {% endif %} {% endfor %} {% if notes.has_next %}
      <a class="btn btn-outline-info mb-5" href="?page={{ notes.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-5" href="?page={{ notes.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
  </div>
  {% endblock content %}
</div>
