{% extends 'dashboard/base.html' %} {% load static %}{% load crispy_forms_tags %} {% block content %}

<div class="container">
  <form style="margin: auto; max-width: 600px" class="row d-flex justify-content-center mb-5" method="GET" action="{% url 'notes' %}">
    <input class="searchRounded" style="width: 18em" name="q" placeholder="Search Signals Card Filters Views urls etc..." />
    <button class="btn btn-sm" type="submit" style="border-radius: 8px"><i class="fa fa-search"></i></button>
  </form>
  <a href="{% url 'favs-notes' %}"><button type="button" class="btn btn-info" style="border-radius: 20px">Favourites Codes Here</button> </a>
  <a href="{% url 'create-note' %}"
    ><button class="myPlus"><i class="fa fa-plus"></i></button
  ></a>
  <h3 style="text-align: center; color: ashwhite; margin-top: 30px; margin-bottom: 30px">Found {{notes_count}} Notes in Home</h3>
  <div class="row">
    {% for note in notes %}
    <div class="col-md-3 mb-4">
      <a href="{% url 'notes_detail' note.id %}">
        <div class="card">
          <div class="card-header">
            {{note.language|striptags|upper|truncatechars:20}} {% if note.fav %}
            <i class="fa fa-heart fa-0x" style="float: right; mb-0; mt-0; color: darkred"></i>
            {% endif %}
          </div>
          <p class="mx-auto" style="font-size: 10px; color: black">{{ note.created_at|date:"F d, Y" }}</p>

          <div class="card-body p-0 m-2">{{note.noted|striptags }}</div>

          <div class="card-footer mt-auto">
            <a href="{% url 'update-note' note.pk %}"> <i class="fa fa-edit fa-1x" style="font-size: 18px; float: left; color: darkgreen"></i></a>
            <a href="{% url 'delete-note' note.pk %}"> <i class="fa fa-trash fa-1x" style="font-size: 18px; float: right; color: darkred"></i></a>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    <br /><br />
  </div>
  <div class="row">
    <div class="mx-auto">
      {% if notes.has_previous %}
      <a class="btn btn-secondary mb-5 btn-lg" href="?page=1">First</a>
      <a class="btn btn-secondary mb-5 btn-lg" href="?page={{ notes.previous_page_number }}">Previous</a>
      {% endif %} {% for num in notes.paginator.page_range %} {% if notes.number == num %}
      <a class="btn btn-secondary mb-5 btn-lg" href="?page={{ num }}">{{ num }}</a>
      {% elif num > notes.number|add:'-3' and num < notes.number|add:'3' %}
      <a class="btn btn-secondary mb-5 btn-lg" href="?page={{ num }}">{{ num }}</a>
      {% endif %} {% endfor %} {% if notes.has_next %}
      <a class="btn btn-secondary mb-5 btn-lg" href="?page={{ notes.next_page_number }}">Next</a>
      <a class="btn btn-secondary mb-5 btn-lg" href="?page={{ notes.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
  </div>

  {% endblock content %}
</div>
