{% load static %}
<header style="margin-bottom: 8px">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0.2rem 2rem">
    <div class="container-fluid">
      <a class="navbar-brand myP" href="{% url 'home' %}"
        ><h3 style="margin: 0; padding: 0; font-size: 3.3rem; text-bold text-transform: uppercase; font-family: Bradley Hand ITC, garamond, serif">
          <b><em class="myP">Sran</em></b>
        </h3>
      </a>
      <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item {% if 'codes-lists' in request.path %}active{% endif %}">
            <a class="nav-link" aria-current="page" href="{% url 'notes' %}"><i class="fa fa-home fa-1x" style="font-size: 25px; color: darkgreen"></i></a>
          </li>

          <li class="nav-item {% if 'codes-lists' in request.path %}active{% endif %}">
            <a class="nav-link" aria-current="page" href="{% url 'top-notes' %}">Top</a>
          </li>

          <li class="nav-item {% if 'codes-lists' in request.path %}active{% endif %}">
            <a class="nav-link" aria-current="page" href="{% url 'tags' %}">Tags</a>
          </li>

          <li class="nav-item {% if 'codes-lists' in request.path %}active{% endif %}">
            <a class="nav-link" aria-current="page" href="{% url 'favs-notes' %}">Fav</a>
          </li>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown {% if 'codes-lists' in request.path %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categ.</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'notes' %}">All Notes</a>

                  {% for cat in links %}
                  <a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a>
                  {% endfor %}
                </div>
              </li>
            </ul>
          </div>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Options </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href='{% url "notes" %}'>Code Snippets</a>
              <a class="dropdown-item" href='{% url "todo" %}'>To-do</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href='{% url "password" %}'>Generate Password</a>
              <a class="dropdown-item" href='{% url "home-work" %}'>Assemblies</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'dictionary'%}">Dictionary</a>
              <a class="dropdown-item" href="{% url 'youtube' %}">Youtube</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href='{% url "books" %}'>Books</a>
              <a class="dropdown-item" href='{% url "wiki" %}'>Wikipedia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href='{% url "password" %}'>Find your Age</a>
              <a class="dropdown-item" href='{% url "conversion" %}'>Conversion</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'profile'%}">Profile</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi, {{ request.user.username|capfirst}}!
            </a>
            {% if user.is_superuser %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/securelogin/">Staff Login</a>
            </div>
            {% endif %}
          </li>

          <li class="nav-item">
            <a class="nav-link" href='{% url "logout" %}'>Logout</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href='{% url "register" %}'>Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href='{% url "login" %}'>Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
