{% extends 'base.html' %} {% load static %}{% load crispy_forms_tags %} {% block content %}

<div class="container myh2">
  <div>
    <h6 class="text-center">Tags</h6>
    {% for tag in tags %}
    <a href="{% url 'tag' tag.slug %}">
      <button class="btn-xs pl-3 pr-3 pt-1 pb-1 mb-1 mr-1 font-weight-bold text-dark catB" style="background-color: #3f9cdc; text-transform: uppercase; font-size: 12px">
        {{tag.name}}&nbsp; ( {{tag.notes_set.all.count}} )
      </button>
    </a>
    {% endfor %}
  </div>

  <div class="row mt-4">
    <div class="mx-auto">
      {% if tags %} {% if tags.has_previous %}
      <a class="btn btn-outline-info mb-5" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-5" href="?page={{tags.previous_page_number }}">Previous</a>
      {% endif %} {% for num in tags.paginator.page_range %} {% if tags.number == num %}
      <a class="btn btn-outline-info mb-5 active" href="?page={{ num }}">{{ num }}</a>
      {% elif num > tags.number|add:'-3' and num < tags.number|add:'3' %}
      <a class="btn btn-outline-info mb-5" href="?page={{ num }}">{{ num }}</a>
      {% endif %} {% endfor %} {% if tags.has_next %}
      <a class="btn btn-outline-info mb-5" href="?page={{ tags.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-5" href="?page={{ tags.paginator.num_pages }}">Last</a>
      {% endif %} {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
