{% extends 'base.html' %} {% load static %}{% load crispy_forms_tags %} {% block content %}

<div class="container myh2">
  <div style="margin-bottom: 20px">
    {% if page == "top" %}
    <h3 class="codeCount text-light font-weight-light" style="text-align: center; color: ashwhite; margin-top: 10px; margin-bottom: 5px">Top Page</h3>
    {% else %}
    <h3 class="codeCount text-light font-weight-light" style="text-align: center; color: ashwhite; margin-top: 10px; margin-bottom: 5px">Favourites Page</h3>
    {% endif %}

    <form
      class="search-form1"
      style="margin: auto; appearance: none; max-width: fit-content"
      class="row d-flex justify-content-center mb-5"
      method="GET"
      action="{% url 'favs-notes' %}"
    >
      <input type="text" class="searchRounded form-control" list="favs" name="q1" placeholder="Search Snippets..." />
      <label class="buttonnn searchbuttonnF1" for="searchleft1"></label>
    </form>

    <datalist id="favs">
      {% for note in favs %}
      <option value="{{note.language}}"></option>
      {% endfor %}
    </datalist>
    <div>
      <a href="{% url 'notes' %}"
        ><button type="button" class="btn text-light" style="border-radius: 20px; background: DodgerBlue">
          ( {{allNotes_count}} ) <i class="fa fa-home fa-0x" style="float: center; margin-top: 3px; margin-right: 10px; color: darkgreen"></i> Codes
        </button>
      </a>

      <a href="{% url 'create-note' %}"
        ><button class="myPlus"><i class="fa fa-plus"></i></button
      ></a>
      {% if page == "top" %}
      <h4 class="codeCount text-light font-weight-light" style="text-align: center; color: ashwhite; margin-top: 10px; margin-bottom: 5px">{{top_count}} Snippets in Top</h4>
      {% else %}
      <h4 class="codeCount text-light font-weight-light" style="text-align: center; color: ashwhite; margin-top: 10px; margin-bottom: 5px">{{favs_count}} Snippets in Favourites</h4>
      {% endif %}
    </div>

    {% for note in favs %}
    <a href="{% url 'notes_detail' note.slug %}">
      <button
        class="btn btn-xs pl-3 pr-3 pt-1 pb-1 mr-1 mb-2 font-weight-bold text-dark"
        style="border-radius: 50px; background-color: #3f9cdc; text-transform: uppercase; font-size: 12px"
      >
        {{note.language}}
      </button>
    </a>
    {% endfor %}

    <div class="row my-4">
      <div class="mx-auto">
        {% if favs %} {% if favs.has_previous %}
        <a class="btn btn-outline-info mb-5" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-5" href="?page={{favs.previous_page_number }}">Previous</a>
        {% endif %} {% for num in favs.paginator.page_range %} {% if favs.number == num %}
        <a class="btn btn-outline-info mb-5 active" href="?page={{ num }}">{{ num }}</a>
        {% elif num > favs.number|add:'-3' and num < favs.number|add:'3' %}
        <a class="btn btn-outline-info mb-5" href="?page={{ num }}">{{ num }}</a>
        {% endif %} {% endfor %} {% if favs.has_next %}
        <a class="btn btn-outline-info mb-5" href="?page={{ favs.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-5" href="?page={{ favs.paginator.num_pages }}">Last</a>
        {% endif %} {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    {% for note in favs %}
    <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4">
      <a href="{% url 'notes_detail' note.slug %}">
        <div class="card text-dark" style="margin-right: 0px; height: 90px" onmouseover="this.style.boxShadow='0px 0px 10px #4b86af';" onmouseout="this.style.boxShadow='0px 0px 10'">
          <div class="card-body" style="padding: 0.2em">
            <p style="text-align: center; padding: 0.2em; font-weight: bold; font-size: 11px">{{note.language|upper|truncatechars:16}}</p>
            <hr style="margin: 1px" />
            <p class="textControl text-dark" style="text-align: left; font-weight: bold; text-transform: capitalize; padding-top: 8px; font-size: 11px">
              {{note.notes_for_yourself|safe }}
            </p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    <br /><br />
  </div>

  {% endblock content %}
</div>
