{% extends 'base.html' %} {% load static %}{% load crispy_forms_tags %} {% block content %}
<div class="container">
   <div class="search-containerr">
    <form class="search-form" action="{% url 'notes' %}" method="GET">
      <input class="searchh" id="searchleft" type="text" name="q" list="notes" placeholder="Search" />
      <label class="buttonn searchbuttonn text-light searchbuttonnF" for="searchleft"><span class="mglass">&#9906;</span></label>
    </form>
    <datalist id="notes">
      {% for note in notes %}
      <option value="{{note.language}}"></option>
      {% endfor %}
    </datalist>
  </div>

<div>  <a href="{% url 'favs-notes' %}"
      ><button type="button" class="btn" style="border-radius: 20px; background: DodgerBlue">
        ( {{favNotes_count}} ) <i class="fa fa-heart fa-0x" style="float: center; margin-top: 3px; margin-right: 10px; color: darkred"></i> Codes
      </button>
    </a>

    <a href="{% url 'create-note' %}"
      ><button class="myPlus"><i class="fa fa-plus"></i></button
    ></a>
   
</div>

  <div class="row my-5 ">
    <div class="col-md-2">
      <h6 class="text-center">Categories</h6>
      {% for cat in links %}
      <a class="" href="{{cat.get_url}}">
        <button class="btn-xs pl-3 pr-3 pt-1 pb-1 mb-1 mr-1 btn-block font-weight-bold text-dark" style="background-color: #3f9cdc; text-transform: uppercase; font-size: 12px">
          {{cat.name}}
        </button>
      </a>
      {% endfor %}  
    </div>

    <div class="col-md-10 my-1">
  <div>  
 {% if not Q %}
    <h4 class="codeCount" style="text-align: center; color: ashwhite;">{{notes_count}} saved snippets in Home Page</h4>
    {% else %}
    <h4 class="codeCount" style="text-align: center; color: ashwhite;">
      Your Search * {{Q}} * <br />
      Found {{notes_count}} Snippets
    </h4>
    {% endif %}

    {% for note in notes %}
    <a href="{% url 'notes_detail' note.slug %}">
      <button class="btn btn-xs pl-3 pr-3 pt-1 pb-1  mb-1 mr-1   font-weight-bold text-dark" style="border-radius: 50px;background-color:#3f9cdc;; text-transform: uppercase;font-size: 12px"> {{note.language}}</button>
    </a>
{% endfor %}

 <div class="row text-center my-4">
        <div class="mx-auto">
          {% if notes.has_previous %}
          <a class="btn btn-outline-info mb-5" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-5" href="?page={{ notes.previous_page_number }}">Previous</a>
          {% endif %} {% for num in notes.paginator.page_range %} {% if notes.number == num %}
          <a class="btn btn-outline-info mb-5 active" href="?page={{ num }}">{{ num }}</a>
          {% elif num > notes.number|add:'-3' and num < notes.number|add:'3' %}
          <a class="btn btn-outline-info mb-5" href="?page={{ num }}">{{ num }}</a>
          {% endif %} {% endfor %} {% if notes.has_next %}
          <a class="btn btn-outline-info mb-5" href="?page={{ notes.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-5" href="?page={{ notes.paginator.num_pages }}">Last</a>
          {% endif %}
        </div>
      </div>

</div>
</div>

<div class="container">
 
  <div>    

   
          <div class="row">
            {% for note in notes %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 mt-3 mb-4">
              <div class="card myh2" style="height: 132px">
                <a href="{% url 'notes_detail' note.slug %}">
                  <div class="card-header" style="letter-spacing: 0.05em; padding: 0.5rem; text-dark font-weight: bold; text-align: center; font-size: 11px">
                    {% if note.fav %}
                    <i class="fa fa-heart fa-0x" style="float: right; mb-0; mt-0;  color: darkred"></i> {% endif %} {{note.language|striptags|upper|truncatechars:22}}
                  </div>
                  <div class="textControl font-weight-bold text-bold text-dark" style="text-align: left; text-transform: capitalize; padding-top: 8px; padding-left: 8px; font-size: 11px">
                    {{note.notes_for_yourself }}
                  </div>
                </a>
                <div class="row mt-auto" style="text-align: center; background-color: #5995bf; margin: 0">
                  <div class="col-2">
                    <a href="{% url 'update-note' note.pk %}"> <i class="fa fa-edit fa-1x" style="font-size: 18px; color: DarkGreen"></i></a>
                  </div>
                  <div class="col-8">
                    <a class="font-weight-bold" style="font-size: 8px; color: black">{{ note.updated_at|date:"N d, y" }}</a>
                  </div>
                  <div class="col-2">
                    <a href="{% url 'delete-note' note.pk %}"> <i class="fa fa-trash fa-1x" style="font-size: 18px; color: darkred"></i></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <br /><br />
         
        </div>
        </div>
      </div>
    </div>

      <div class="row text-center">
        <div class="mx-auto">
          {% if notes.has_previous %}
          <a class="btn btn-outline-info mb-5" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-5" href="?page={{ notes.previous_page_number }}">Previous</a>
          {% endif %} {% for num in notes.paginator.page_range %} {% if notes.number == num %}
          <a class="btn btn-outline-info mb-5 active" href="?page={{ num }}">{{ num }}</a>
          {% elif num > notes.number|add:'-3' and num < notes.number|add:'3' %}
          <a class="btn btn-outline-info mb-5" href="?page={{ num }}">{{ num }}</a>
          {% endif %} {% endfor %} {% if notes.has_next %}
          <a class="btn btn-outline-info mb-5" href="?page={{ notes.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-5" href="?page={{ notes.paginator.num_pages }}">Last</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
{% endblock content %}
