{% load static %} {% if request.user.is_authenticated %}
<div class="text-center">
  {% if note.top %}
  <form action="{% url 'notes_detail1' note.slug %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <button
        id="top"
        value="{{ note.slug }}"
        class="btn-info btn-small"
        style="background: #265b25; letter-spacing: 0.1rem; text-transform: uppercase; margin-top: 2px; border-radius: 30px; color: ashwhite"
      >
        Remove from Main <i class="far fa-heart fa-lg"></i>
      </button>
    </div>
  </form>
  {% else %}
  <form action="{% url 'notes_detail1' note.slug %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <button
        id="top"
        value="{{note.slug}}"
        class="btn-danger btn-small"
        style="background: #3f0000; letter-spacing: 0.1rem; text-transform: uppercase; margin-top: 2px; border-radius: 30px; color: ashwhite"
      >
        Add To Main <i class="fas fa-heart-broken fa-lg"></i>
      </button>
    </div>
  </form>
  {% endif %}
</div>
{% endif %}
